@import "../../../styles//variables";
@import "../../../styles//screensize";

.post_card {
  background-color: $background3;
  padding: 10px;
  border-radius: 10px;
  margin: 10px 0;
  width: 100%;
  padding: 20px 20px;
  border: $lightgrey solid 0.5px;
  .top_section {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .username {
      font-size: small;
    }
    .time {
      font-size: x-small;
    }
  }
  hr {
    margin: 10px 0px;
    border: solid $primaryColor 0.3px;
  }

  .content {
    h3 {
      font-size: medium;
      font-size: medium;
    }
    p {
      font-size: small;
      font-weight: 300;
      line-height: 20px;
    }
  }
  .form_element {
    padding-top: 20px;
    input {
      width: 100%;
      padding: 10px;
      border-radius: 10px;
      background-color: $background1;
      color: #fff;
      outline: none;
      outline-style: none;
      border: none;
    }
  }
}
